*{
    box-sizing: border-box;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    margin: 50px 50px 50px 50px;
}
.content{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.first-block{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1 1 60%;
    margin-bottom: 120px;
    /*margin-left: 120px;*/
}
.my-logo{
    margin-top: 24px;
    text-align: center;
}
.some-test{
    width: 90%;
    margin: 0 20px 20px auto;

}
.first-block-title{
    margin-top: 80px;
}
.first-block-title h1{
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
    color: #000000;
}
.first-block-title p{
    margin-top: 16px;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #323232;
}
.first-block-title a{
    font-weight: bold;
    line-height: 24px;
    color: red;
}
.pink{
    position: relative;
    z-index: 1;
}
.pink:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    background: rgba(255, 172, 196, 1);
    bottom: 10px;
    left: 0;
    display: block;
    z-index: -1;
}
.second-form-my-form{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 auto;
}
.row-input{
    display: flex ;
    flex-direction: row;
}
.form-input-name{
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-top: 50px;
    width: 90%;
    height: 35px;
    border-bottom: 2px solid #A1A3A7;
}
.form-input-name:focus{
    border-bottom: 2px solid #323232;
}
.form-input-name:focus::placeholder{
    transform: translateY(-10px)
}
.input-container{
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
}
.btn-form{
    display: flex;
    margin: 0 0 0 auto;
}
.error{
    margin: 0px auto;
    visibility: hidden;
    color: red;
    text-align: right;
}
.error1{
    margin: 0px auto;
    visibility: hidden;
    color: red;
    text-align: right;
}
.error2{
    margin: 0px auto;
    visibility: hidden;
    color: red;
    text-align: right;
}
.my-valid{
    background: url("media/Vector.png");
    background-size: 15px 10px;
    background-repeat: no-repeat;
    background-position: 95% 15px;
}.my-valid1{
     background: url("media/Vector.png");
     background-size: 15px 10px;
     background-repeat: no-repeat;
     background-position: 98% 15px;
 }
.form-input-name1{
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-top: 50px;
    width: 90%;
    height: 35px;

    border-bottom: 2px solid #A1A3A7;
}
.form-input-name1:focus{
    border-bottom: 2px solid #323232;
}
.form-input-name1:focus::placeholder{
    transform: translateY(-10px)
}
.form-input-email{
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-top: 50px;
    width: 95%;
    height: 35px;
    border-bottom: 2px solid #A1A3A7;
}
.form-input-email:focus{
    border-bottom: 2px solid #323232;
}
.form-input-email:focus::placeholder{
    transform: translateY(-10px)
}
.form-account{
    margin-top: 60px;
    display: block;
    width: 180px;
    height: 40px;
    font-size: 14px;
    background: #FF004C;
    border-radius: 24px;
    color: white;
    border: none;
    outline: none;

    margin-right: 10%;
    /*margin-left: 488px;*/
}
.second-block{
    background: #E5E5E5;
    background-image: url("media/Background@2x.png");
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 40%;
    background-size: cover;
    background-position: top -52px right -52px;
    background-repeat: no-repeat;
}
.info-content-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}
.info-content-ul{
    margin-top: 8px;
}
.info-content-ul-li{
    background: url("media/Group 421.png") no-repeat;
    margin: 8px 0;
    font-size: 16px;
    line-height: 24px;
    padding-left: 30px;
    position: relative;
}
.info-content-some{
    font-size: 16px;
    line-height: 24px;
    position: relative;
}
.info-content-industry{
    margin-top: 40px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
/*@media all and (max-width: 767px) {*/
/*    body{*/
/*        font-family: 'Nunito Sans', sans-serif;*/
/*        font-weight: normal;*/
/*        margin: 0;*/
/*    }*/
/*    .content{*/
/*        width: 100%;*/
/*        margin: 0 auto;*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*        justify-content: center;*/
/*    }*/
/*    .first-block{*/
/*        width: 100%;*/
/*    }*/
/*    .my-logo{*/
/*        margin-top: 28px;*/
/*        text-align: center;*/
/*    }*/
/*    .first-block-title h1{*/

/*        !*margin-left: 20px;*!*/
/*        font-weight: bold;*/
/*        font-size: 32px;*/
/*        line-height: 120%;*/
/*        color: #000000;*/
/*    }*/
/*    .first-block-title p{*/
/*        !*width: 50%;*!*/
/*        !*margin-left: 20px;*!*/
/*        font-weight: normal;*/
/*        font-size: 16px;*/
/*        line-height: 150%;*/
/*        color: #323232;*/
/*    }*/
/*    .row-input{*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        !*margin-left: 0px;*!*/
/*        margin-left: 20px;*/
/*    }*/
/*    .btn-form{*/
/*        margin: 0 auto;*/
/*    }*/
/*    .form-input-name{*/
/*        outline: none;*/
/*        border-left: none;*/
/*        border-right: none;*/
/*        border-top: none;*/
/*        margin-top: 30px;*/
/*        width: 100%;*/
/*        height: 30px;*/
/*        border-bottom: 2px solid #A1A3A7;*/
/*    }*/
/*    .form-input-name1{*/
/*        outline: none;*/
/*        border-left: none;*/
/*        border-right: none;*/
/*        border-top: none;*/
/*        margin-top: 30px;*/
/*        width: 100%;*/
/*        height: 30px;*/
/*        border-bottom: 2px solid #A1A3A7;*/
/*        margin-left: 0px;*/
/*    }*/
/*    .form-input-email{*/
/*        outline: none;*/
/*        border-left: none;*/
/*        border-right: none;*/
/*        border-top: none;*/
/*        margin-top: 50px;*/
/*        width: 95%;*/
/*        height: 30px;*/
/*        margin-right: 20px;*/
/*        border-bottom: 2px solid #A1A3A7;*/
/*        margin-left: 20px;*/
/*    }*/
/*    .form-account{*/
/*        !*margin-top: 60px;*!*/
/*        margin-right: 0px;*/
/*        display: block;*/
/*        width: 180px;*/
/*        height: 40px;*/
/*        font-size: 14px;*/
/*        background: #FF004C;*/
/*        border-radius: 24px;*/
/*        color: white;*/
/*        border: none;*/
/*        outline: none;*/

/*    }*/
/*    .second-block{*/
/*        width: 100%;*/
/*        padding: 63px 0 240px 0;*/
/*        margin-bottom: 20px;*/
/*    }*/
/*    .my-valid{*/
/*        background: url("media/Vector.png");*/
/*        background-size: 15px 10px;*/
/*        background-repeat: no-repeat;*/
/*        background-position: 335px 15px;*/
/*    }*/

/*}*/
/*.invalid-input, .invalid-input:focus{*/
/*    border-color: red;*/
/*}*/





/*body{*/
/*    font-family: 'Nunito Sans', sans-serif;*/
/*    font-weight: normal;*/
/*    margin: 50px 50px 50px 50px;*/
/*}*/
/*.content{*/
/*    display: flex;*/
/*    width: 100%;*/
/*    margin: 0 auto;*/
/*}*/
/*.info-content{*/
/*    flex: 1 1 40%;*/
/*}*/
/*.first-block{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    flex-direction: column;*/
/*    flex: 1 1 60%;*/
/*    margin-bottom: 120px;*/
/*}*/
/*.my-logo{*/
/*    margin-top: 24px;*/
/*    text-align: center;*/
/*}*/
/*.some-test{*/
/*    width: 90%;*/
/*    margin: 0 20px 20px auto;*/

/*}*/
/*.first-block-title{*/
/*    margin-top: 80px;*/
/*}*/
/*.first-block-title h1{*/
/*    font-weight: bold;*/
/*    font-size: 32px;*/
/*    line-height: 120%;*/
/*    color: #000000;*/
/*}*/
/*.first-block-title p{*/
/*    margin-top: 16px;*/
/*    font-weight: normal;*/
/*    font-size: 16px;*/
/*    line-height: 150%;*/
/*    color: #323232;*/
/*}*/
/*.first-block-title a{*/
/*    font-weight: bold;*/
/*    line-height: 24px;*/
/*    color: red;*/
/*}*/
/*.pink{*/
/*    position: relative;*/
/*    z-index: 1;*/
/*}*/
/*.pink:after{*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 10px;*/
/*    background: rgba(255, 172, 196, 1);*/
/*    bottom: 10px;*/
/*    left: 0;*/
/*    display: block;*/
/*    z-index: -1;*/
/*}*/
/*.second-form-my-form{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin: 0 0 0 auto;*/
/*}*/
/*.second-form{*/
/*    margin-top: 15px;*/
/*}*/
/*.my-form{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
/*.form-input-company{*/
/*    outline: none;*/
/*    border-left: none;*/
/*    border-right: none;*/
/*    border-top: none;*/
/*    margin-top: 50px;*/
/*    width: 90%;*/
/*    height: 30px;*/
/*    border-bottom: 2px solid #A1A3A7;*/
/*}*/
/*.form-input-company:focus{*/
/*    border-bottom: 2px solid #323232;*/
/*}*/
/*.form-input-company:focus::placeholder{*/
/*    transform: translateY(-10px)*/
/*}*/
/*.form-input-company:optional:invalid {*/
/*    border-color: red;*/
/*}*/
/*.form-input-company:valid{*/
/*    background: url("media/Vector.png");*/
/*    background-size: 15px 10px;*/
/*    background-repeat: no-repeat;*/
/*    background-position: 481px 15px;*/
/*}*/
/*.form-input-phone{*/
/*    outline: none;*/
/*    border-left: none;*/
/*    border-right: none;*/
/*    border-top: none;*/
/*    margin-top: 50px;*/
/*    width: 90%;*/
/*    height: 30px;*/
/*    border-bottom: 2px solid #A1A3A7;*/
/*}*/
/*.form-input-phone:focus{*/
/*    border-bottom: 2px solid #323232;*/
/*}*/
/*.form-input-phone:focus::placeholder{*/
/*     transform: translateY(-10px)*/
/*}*/
/*.form-input-phone:valid{*/
/*    background: url("media/Vector.png");*/
/*    background-size: 15px 10px;*/
/*    background-repeat: no-repeat;*/
/*    background-position: 481px 15px;*/
/*}*/
/*.form-input-phone:optional:invalid {*/
/*    border-color: red;*/
/*}*/
/*.form-input-password{*/
/*    outline: none;*/
/*    border-left: none;*/
/*    border-right: none;*/
/*    border-top: none;*/
/*    margin-top: 50px;*/
/*    width: 90%;*/
/*    height: 30px;*/
/*    border-bottom: 2px solid #A1A3A7;*/
/*}*/
/*.form-input-password:focus{*/
/*    border-bottom: 2px solid #323232;*/
/*}*/
/*.form-input-password:focus::placeholder{*/
/*    transform: translateY(-10px)*/
/*}*/
/*.form-input-password:valid{*/
/*    background: url("media/Vector.png");*/
/*    background-size: 15px 10px;*/
/*    background-repeat: no-repeat;*/
/*    background-position: 481px 15px;*/
/*}*/
/*.form-input-password:optional:invalid {*/
/*    border-color: red;*/
/*}*/
.check-box-form{
    margin-top: 24px;
    font-size: 14px;
    line-height: 21px;
    color: #A1A3A7;
}
.check-box-form u{
    cursor: pointer;
}
.form-btn{
    display: flex;
    margin-top: 105px;
    justify-content: space-around;
}
.form-btn a{
    margin: auto 0 auto 0 ;
    display: block;
    text-decoration: none;
    color: #A1A3A7;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}
.form-btn a:hover{
    text-decoration: underline;
}
.form-account{
    display: block;
    width: 180px;
    height: 40px;
    font-size: 14px;
    background: #FF004C;
    border-radius: 24px;
    color: white;
    border: none;
    outline: none;
}
.open-modal{
    color: #A1A3A7;
}
.overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
}
.modal {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    max-width: 784px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    text-align: center;
    padding: 4px;
    border-radius: 3px;
    background-color: #fff;
    transition: 0.3s all;
}

@media all and (max-width: 767px){
    .modal{
        max-width: 90%;
        height: 95%;
    }
}

.modal-content{
    text-align: start;
    padding: 0 60px 0 64px;
    margin: 54px 0 25px 0;
    overflow: auto;
    height: 76vh;
}

@media all and (max-width: 900px){
    .modal-content{
        padding: 0 34px 0 37px;
        height: 92%;
    }
}

.modal-content h1{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    margin: 0 0 24px 0;
}

.modal-content h4{
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    margin: 40px 0 16px 0;
}

.modal-content p{
    font-size: 14px;
    line-height: 150%;
    margin-top: 16px;
}

.modal-content p:first-child{
    margin-top: 0;
}

.modal-content::-webkit-scrollbar {
    width: 6px;
    background-color: #ffffff;
}

.modal-content::-webkit-scrollbar-thumb {
    border-radius: 8px;
}

.modal-content::-webkit-scrollbar-track {
    opacity: 0.2;
    border-radius: 8px;
    background-color: #ffffff;
}
.modal.active,
.overlay.active{
    opacity: 1;
    visibility: visible;
}
.modal__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #444;
    cursor: pointer;
}
/*.second-block{*/
/*    background: #E5E5E5;*/
/*    background-image: url("media/Background@2x.png");*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    flex: 1 1 40%;*/
/*    background-size: cover;*/
/*    background-position: top -52px right -52px;*/
/*    background-repeat: no-repeat;*/
/*}*/

/*.info-content-title{*/
/*    font-weight: bold;*/
/*    font-size: 24px;*/
/*    line-height: 29px;*/
/*}*/
/*.info-content-ul{*/
/*    margin-top: 8px;*/
/*}*/
/*.info-content-ul-li{*/
/*    background: url("media/Group 421.png") no-repeat;*/
/*    margin: 8px 0;*/
/*    font-size: 16px;*/
/*    line-height: 24px;*/
/*    padding-left: 30px;*/
/*    position: relative;*/
/*}*/
/*.info-content-some{*/
/*    font-size: 16px;*/
/*    line-height: 24px;*/
/*    position: relative;*/
/*}*/
/*.info-content-industry{*/
/*    margin-top: 40px;*/
/*    font-weight: bold;*/
/*    font-size: 18px;*/
/*    line-height: 22px;*/
/*}*/
@media all and (max-width: 769px) {
    body{
        font-family: 'Nunito Sans', sans-serif;
        font-weight: normal;
        margin: 0;
    }
    .content{
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .first-block{
        width: 100%;
    }
    .my-logo{
        margin-top: 28px;
        text-align: center;
    }
    .first-block-title{
        margin: 20px 20px 20px 20px;
    }
    .first-block-title h1{
        font-weight: bold;
        font-size: 32px;
        line-height: 120%;
        color: #000000;
    }
    .first-block-title p{
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #323232;
    }
    .row-input{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    .btn-form{
        margin: 0 auto;
    }
    .form-input-company {
        outline: none;
        border-left: none;
        border-right: none;
        border-top: none;
        margin-top: 30px;
        width: 90%;
        height: 30px;
        margin-right: 20px;
        margin-left: 20px;
        border-bottom: 2px solid #A1A3A7;
    }
    .form-input-phone{
        outline: none;
        border-left: none;
        border-right: none;
        border-top: none;
        margin-top: 30px;
        width: 90%;
        height: 30px;
        margin-right: 20px;
        margin-left: 20px;
        border-bottom: 2px solid #A1A3A7;

    }
    .form-input-password{
        outline: none;
        border-left: none;
        border-right: none;
        border-top: none;
        margin-top: 50px;
        width: 90%;
        height: 30px;
        margin-right: 20px;
        border-bottom: 2px solid #A1A3A7;
        margin-left: 20px;
    }
    .form-account{
        margin-top: 60px;
        margin-right: 0px;
        display: block;
        width: 180px;
        height: 40px;
        font-size: 14px;
        background: #FF004C;
        border-radius: 24px;
        color: white;
        border: none;
        outline: none;

    }
    .check-box-form{
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .second-block{
        width: 100%;
        padding: 63px 0 240px 0;
        margin-bottom: 20px;
    }
    .form-btn a{
        margin: 0 auto;
    }
    .my-valid{
        background: url("media/Vector.png");
        background-size: 15px 10px;
        background-repeat: no-repeat;
        background-position: 335px 15px;
    }
    .form-btn{
        margin-top: 50px;
    }

}
.invalid-input, .invalid-input:focus{
    border-color: red;
}